{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House of Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="top-bar">
        <div class="left-side">
            Free Delivery on orders over ₹499
        </div>

        <div class="right-side">
            <a href="#">Track Order</a>
            <a href="#">Help & Support</a>
            <span>+91 XXXXX XXXXX</span>
        </div>
    </div>
    <!-- Navbar for all pages --> 
    <nav class="navbar navbar-expand-lg custom-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">House of Books</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>    
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'categories' %}">Categories</a>     
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authors' %}">Authors</a>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">{{user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cart' %}">Cart</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'wishlist' %}">Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'order_history' %}">My Orders</a>
                    </li>
                    <li class="nav-item text-center">
                        <form method="post" action="{% url 'logout' %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link border-0 bg-transparent mx-auto">Logout</button>
                        </form>
                    </li>
                
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>
                </ul>
            
                <form class="d-flex mobile-search" method="GET" action="/">
                    <input 
                        class="form-control me-2"
                        type="search"
                        name="search"
                        placeholder="Search books">

                        <button class="btn btn-warning" type="submit">Search</button>
                </form>

            </div>
            
            
        </div>
    </nav>

    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}

    {% block content %}
    {% endblock %}

    <!-- FOOTER -->
    <footer class="footer mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>House of Books</h3>
                    <p>Every book is a new adventure.</p>
                </div>

                <div class="col-md-2">
                    <h5>Quick Links</h5>
                    <a href="/">Home</a><br>
                    <a href="{% url 'categories' %}">Categories</a><br>
                    <a href="{% url 'authors' %}">Authors</a><br>
                    <a href="{% url 'about' %}">About Us</a>
                </div>

                <div class="col-md-3">
                    <h5>Categories</h5>
                    <p>Fiction</p>
                    <p>Fantasy</p>
                    <p>Romance</p>
                    <p>Mystery</p>
                </div>

                <div class="col-md-3">
                    <h5>Contact Us</h5>
                    <p>📍 Uttarakhand, India</p>
                    <p>📧 support@houseofbooks@gmail.com</p>
                    <p>📞 +91 XXXXX XXXXX</p>
                </div>
            </div>

            <hr>

            <p class="text-center">© 2026 House of Books</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>