<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="book-card">
            {% if book.cover_image %}
                <img src="{{ book.cover_image.url }}" class="book-image" alt="{{book.title}}">
            {% else %}
                <div class="book-placeholder">No Image Available</div>
            {% endif %}

            <div class="book-content">
                <h5>{{ book.title }}</h5>
                <p class="author-name">Author: {{book.author}}</p>
                <div class="book-price">₹{{book.price}}</div>
                <a href="{% url 'book_detail' book.id %}" class="view-button">
                    View Details
                </a>
            </div>
        </div>
</div>