{% extends 'books/base.html' %}
{% block content %}

    <!-- Hero Section -->
    <div class="container mt-5 text-center">
        <h1 class="display-4">Welcome to House of Books</h1>
        <p class="lead">Discover your next favourite book from thousands of titles.</p>
        <a href="#" class="btn btn-primary btn-lg">Browse Books</a>
    </div>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Featured Books</h2>
        <div class="row">
            {% for book in page_obj %}
                {% include "books/book_card.html" %}

                {% empty %}
            <div class="col-12">
                <div class="alert alert-warning text-center">
                    <h4>No Books Found</h4>
                    <p>Try searching another title.</p>
                </div>
            </div>
            {% endfor %}

            <hr class="my-5">
            <h2>You Also May Like</h2>
            <div class="row">
                {% for book in recommendations %}
                <div class="col-md-3 mb-4">
                    <div class="card h-100 shadow-sm">
                        {% if book.cover_image %}
                            <img src="{{book.cover_image.url}}" class="card-img-top">
                        {% else %}
                            <div class="text-center p-5 bg-light">No Image</div>
                        {% endif %}
                        <div class="card-body">
                            <h5>{{book.title}}</h5>
                            <p>{{book.author}}</p>
                            <a href="{% url 'book_detail' book.id %}" 
                                class="btn btn-outline-primary w-100">View Details</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No recommendations available</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Page navigation buttons -->
    <div class="d-flex justify-content-center mt-4">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-primary me-2">First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary me-2">Previous</a>
        {% endif %}
        <span class="btn btn-secondary">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary ms-2">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary ms-2">Last</a>
        {% endif %}
    </div>
    
{% endblock %}